<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>Al-Arady ElMokadasa Management System</title>
    <link rel="shortcut icon" href="" />
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="Al-Arady ElMokadasa Management System" name="description" />
    <meta content="Al-Arady ElMokadasa Management System" name="AMS" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css"/> -->
   <!--  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Raleway:400,100,200,300,500/" /> -->
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/fonts/clip-font.min.css" />
    <!-- <link type="text/css" rel="stylesheet" href="bower_components/iCheck/skins/all.css" /> -->
    <!-- <link type="text/css" rel="stylesheet" href="bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" /> -->
    <link type="text/css" rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" /><!--  -->
    <link type="text/css" rel="stylesheet" href="assets/css/main.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/rtl-version.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/main-responsive.min.css" />
    <link type="text/css" rel="stylesheet" media="print" href="assets/css/print.min.css" />
    <link type="text/css" rel="stylesheet" id="skin_color" href="assets/css/theme/light.css" />
    
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- <link href="bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" /> -->
    <link href="bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="bower_components/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="bower_components/datatables.net-buttons-dt/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="assets/css/prof-style-kh.css" />
    
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>

<body class="rtl">

    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="clip-list-2"></span>
            </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                <!-- start: LOGO -->
                <a class="navbar-brand" href="index.html">
                الاراضى المقدسة 
            </a>
                <!-- end: LOGO -->
            </div>
            <div class="navbar-tools">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    
                    <!-- end: MESSAGE DROPDOWN -->
                    <!-- start: USER DROPDOWN -->
                    <li class="dropdown current-user">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <img src="assets/images/avatar-1-small.jpg" class="circle-img" alt="">
                            <span class="username">Peter Clark</span>
                            <i class="clip-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="pages_user_profile.html">
                                    <i class="clip-user-2"></i> &nbsp;My Profile
                                </a>
                            </li>
                            <li>
                                <li>
                                    <a href="login_example1.html">
                                        <i class="clip-exit"></i> &nbsp;Log Out
                                    </a>
                                </li>
                        </ul>
                        </li>
                        <!-- end: USER DROPDOWN -->
                        <!-- start: PAGE SIDEBAR TOGGLE -->
                        <!--<li>
                            <a class="sb-toggle" href="#"><i class="fa fa-outdent"></i></a>
                        </li>-->
                        <!-- end: PAGE SIDEBAR TOGGLE -->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <div class="navbar-content">
            <!-- start: SIDEBAR -->
            <div class="main-navigation navbar-collapse collapse">
                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                <!-- start: MAIN NAVIGATION MENU -->
                <ul class="main-navigation-menu">
                    <li >
                        <!--active open-->
                        <a href="index.html">
                            <i class="clip-home-3"></i>
                            <span class="title"> الرئيسية  </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="partner.html">
                            <i class="clip-spinner"></i>
                            <span class="title">ادارة العملاء</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="clip-link"></i>
                            <span class="title">دليل الرحلات</span><i class="icon-arrow"></i>
                            <span class="selected"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="trips.html">
                                    <span class="title">الرحلات</span>
                                    <!--<span class="badge badge-new">new</span>-->
                                </a>
                            </li>
                            <li>
                                <a href="add-trip.html" class="">
                                    <span class="title"> اضافة رحلة </span>
                                </a>
                            </li>
                            <li>
                                <a href="trip-sub.html" class="">
                                    <span class="title">  تفاصيل الرحلة بالمناديب  </span>
                                </a>
                            </li>
                            <li>
                                <a href="add-trip-sub.html" class="">
                                    <span class="title">اضافة تفاصيل الرحلة</span>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="clip-link"></i>
                            <span class="title">تكاليف الرحلات </span><i class="icon-arrow"></i>
                            
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="trip-costs.html">
                                    <span class="title">دليل تكلفة الرحلة </span>

                                    
                                </a>
                            </li>                            
                        </ul>
                    </li>
                    <li class="active">
                        <a href="costs.html">
                            <i class="fa  fa-money"></i>
                            <span class="title">المصاريف </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="currency.html">
                            <i class="clip-spinner"></i>
                            <span class="title">العملة</span>
                        </a>
                    </li> -->
                    <li>
                        <a href="users.html">
                            <i class="clip-user"></i>
                            <span class="title"> ادارة المستخدمين   </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
            </div>
            <!-- end: SIDEBAR -->
        </div>

        <!-- start: PAGE -->
        <div class="main-content">
            
            <!-- end: SPANEL CONFIGURATION MODAL FORM -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">
                        
                        
                        <div class="page-header">
                            <h3>تقارير الخزنة </h3>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                <div class="row">                    
                    <!-- // cost-Report -->
                    <div class="col-sm-12">
                        <!-- start: TEXT FIELDS PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i> تقرير عن  الخزنة   في فترة معينة      
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>                                    
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-2">
                                            تقرير عن        
                                        </label>
                                        <div class="col-sm-4">
                                            <select class="form-control">
                                                <option>الكل </option>
                                                <option>المبيعات </option>
                                                <option>المشتريات </option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label" for="form-field-1">
                                            الرحلة    
                                        </label>
                                        <div class="col-sm-4">
                                            <select id="form-field-select-3" class="form-control search-select-trip">
                                                <option value="">&nbsp;</option>
                                                <option value="AL">محسن عبد السلام</option>
                                                <option value="AK">محسن عبد السلام</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-1">
                                            المورد     
                                        </label>
                                        <div class="col-sm-4">
                                            <select id="form-field-select-3" class="form-control search-select-client">
                                                <option value="">&nbsp;</option>
                                                <option value="AL">محسن عبد السلام</option>
                                                <option value="AK">محسن عبد السلام</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label" for="form-field-1">
                                            العميل     
                                        </label>
                                        <div class="col-sm-4">
                                            <select id="form-field-select-3" class="form-control search-select-sub">
                                                <option value="">&nbsp;</option>
                                                <option value="AL">محسن عبد السلام</option>
                                                <option value="AK">محسن عبد السلام</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-2">
                                            من تاريخ     
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="date" placeholder="dd-mm-yyyy" id="form-field-2" class="form-control">
                                        </div>
                                        <label class="col-sm-2 control-label" for="form-field-2">
                                            الى تاريخ     
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="date" placeholder="dd-mm-yyyy" id="form-field-2" class="form-control">
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-2" >
                                            <a href="#"><button type="submit" class="btn btn-primary">
                                                بحث فى هذه الفترة    
                                            </button></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end: TEXT FIELDS PANEL -->
                    </div>
                    <!-- // Cost Data TAble -->
                    <div class="col-sm-12">
                        <!-- start: TEXT FIELDS PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i> جدول البيانات      
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>                                    
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="panel-body">
                                <br/>
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover  " id="sample-table-2">
                                        <thead>
                                            <tr>
                                                <th class="col-to-export text-right">البيان </th>
                                                <th class="col-to-export text-right">عدد </th>
                                                <th class="col-to-export text-right">القيمة </th>
                                                <th class="col-to-export text-right">الاجمالى  </th>
                                                <th class="col-to-export text-right">التاريخ  </th>
                                                <!-- <th class=" text-right">الاختيارات  </th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>اسم او وصف التكلفة المالية </td>
                                                <td>121</td>
                                                <td>500</td>
                                                <td>500000</td>
                                                <td>dd/mm/yyyy</td>
                                                <!-- <td class="text-center">
                                                    <a href="#" class="btn btn-xs btn-teal tab-btn tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i>1</a>
                                                    <a href="#" class="btn btn-xs  btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i>2</a>
                                                </td> -->
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- end: TEXT FIELDS PANEL -->
                    </div>
                </div>
                
                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            <script>
                document.write(new Date().getFullYear())
            </script> &copy; Al-Arady ElMokadasa Management System By AMS
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- end: FOOTER -->

    
    <div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                    <h4 class="modal-title">Event Management</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-light-grey">
                    Close
                </button>
                    <button type="button" class="btn btn-danger remove-event no-display">
                    <i class='fa fa-trash-o'></i> Delete Event
                </button>
                    <button type='submit' class='btn btn-success save-event'>
                    <i class='fa fa-check'></i> Save
                </button>
                </div>
            </div>
        </div>
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="../../bower_components/respond/dest/respond.min.js"></script>
        <script src="../../bower_components/Flot/excanvas.min.js"></script>
        <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <!--<![endif]-->

    <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="bower_components/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="bower_components/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="bower_components/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="assets/js/min/main.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="bower_components/Flot/jquery.flot.js"></script>
    <script src="bower_components/Flot/jquery.flot.pie.js"></script>
    <script src="bower_components/Flot/jquery.flot.resize.js"></script>
    <script src="assets/plugin/jquery.sparkline.min.js"></script>
    <script src="bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="assets/js/min/index.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: JAVASCRIPTS REQUIRED FOR DATA TABLES-->
    <script src="bower_components/bootbox.js/bootbox.js"></script>
    <script src="bower_components/jquery-mockjax/dist/jquery.mockjax.min.js"></script>
    <script src="bower_components/select2/dist/js/select2.min.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="bower_components/jszip/dist/jszip.min.js"></script>
    <script src="bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="bower_components/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="assets/js/min/table-data.min.js"></script>
    <script src="assets/js/min/table-export.min.js"></script>
    <script src="assets/js/form-elements.js"></script>
    <!-- start: JAVASCRIPTS REQUIRED FOR DATA TABLES-->
    <script>
        jQuery(document).ready(function() {
            Main.init();
            TableExport.init();
        });
    </script>
    <script>
        //function to initiate Select2
        jQuery(document).ready(function () {
            $(".search-select-trip").select2({
                placeholder: "الرحلة ",
                allowClear: true
            });
            $(".search-select-sub").select2({
                placeholder: "اسم العميل  ",
                allowClear: true
            });
            $(".search-select-client").select2({
                placeholder: "اسم المورد ",
                allowClear: true
            });
        });
    </script>

</body>

</html>